body {
	background-color: #ddf9f1;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

.right {
	float: right;
}

.errors {
	color: #D8000C;
	background-color: #FFBABA;
	margin: 10px 0;
	padding: 12px;
}

div.debugbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 80px;
	background-color: pink;
	border: 1px solid silver;
}

div.debugbar .col {
	width: 32%;
	float: right;
	margin-right: 1%;
	font-size: 8pt;
}

div.debugbar .col p {
	margin: 0;
	padding: 0;
}

div.content {
	background-color: #bbf9bb;
	padding: 50px;
	margin: -250px;
	margin-top: 0px;
	box-shadow: 0px 50px 150px #000;
}

.table-color {
	background-color: white;
}

.table-header {
	background-color: #f3e6f2;
}